<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>天海博客注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    .registerForm{
        width: 200px;
        height: 30px;
        opacity: 0.5;
        left: 0;
        top: 0;
        bottom: 0;
        right:0;
        margin: auto;
        align-items:center;
    }
    body{
        background: url("http://ou20v4efn.bkt.clouddn.com/background.jpg") no-repeat;
        background-size: cover;
        height: 300px;
        width: auto;

    }
</style>
<body>
    <form class="registerForm">
        <input  name="userName" placeholder="请输入您的用户名"/>
        <input  name="password" type="password" placeholder="请输入您的用密码，要求必须有大小写字母特殊字符和数字组成！"/>
        <input name="password1" type="password" placeholder="请确认您的密码！"/>
        <input name="phone" placeholder="请输入您的手机号码！"/>
    </form>
</body>
</html>